html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* Global */
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    position: fixed;
    min-height: 70px;
    overflow: hidden;
    width: 100%;
    background-color:transparent;
    z-index: 10;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 15px 20px 0 20px;
}

header #branding{
    float: left;
}

header nav{
    float: right;
    margin-top: 15px;
}

header a:hover{
    color: #2f7ea6;
    font-weight: bold;
    text-decoration: none;
}

header.active .navbar-nav>li>a {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: none;
    color: #121212!important;
}

header.active {
    background-color: rgb(17, 17, 17);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
}

/* Showcase slider */
#showcase{
    min-height: 600px;
    text-align: center;
    color: #000;
}

/* Boxes */
#boxes{
    margin: -22px 37px 0 37px;
    background: #29e1cd;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    margin: 30px 15px 20px 20px;
    background: #fff;
}

#boxes .box img{
    width: 80%;
}

#newsletter{
    padding: 15px;
    color: #a7a5a5;
    background: #000;
}

#social_box a{
    padding: 20px;
}

footer{
    padding: 15px 0px 15px 70px;
    color: #a7a5a5;
    background-color: #1c1c1c;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }
}

/*/////////////////////////////////*/

.profile-container{
    padding:5%;
}
.profile-container .img{
    text-align:center;
}
.profile-container .details{
    border-left:3px solid #ded4da;
}
.profile-container .details p{
    font-size:15px;
    font-weight:bold;
}